<html ng-app="mpApp">
    <head>
        <title>Demo MP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="main.js" type="text/javascript"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="script1.js" type="text/javascript"></script>
        <script src="script2.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="demo1">
            <h2>Invocar script1</h2>
            <button type="button" onclick="readBrowserProperties()">Invocar</button>
        </div>
        <div id="browser"></div>



        <div id="demo2">
            <h2>Invocar script2</h2>
            <button type="button" onclick="readOS()">Invocar</button>
        </div>
        <div id="os"></div>


        <div id="demo3"ng-controller="pokeController">
            <h1>Buscar Pokemon</h1>
            <div>
                <label>Ingrese busqueda </label>
                <input type="text" ng-model="search" placeholder="Busqueda" />
            </div>
            <button type="button" ng-click="getPokemon()">Cargar Detalle</button>
            <br/><br/>

            <fieldset style="display: {{pokemon.name!=null?'inline':'none'}}" >
                <b>Name: {{pokemon.name}}</b><br/>    

                weight: {{pokemon.weight}}<br/>
                height: {{pokemon.height}}<br/>
                base_experience: {{pokemon.base_experience}}<br/>

                <ul ng-repeat="t in pokemon.types">
                    <li>Category: <label>{{t.type.name}}</label> </li>
                </ul>

            </fieldset>

        </div>
    </body>
</html>
